@{
    ViewData["Title"] = "Contact information";
}

<address>
    <p>
        developer: Reza gorji<br />
        email: rezagorji68@gmail.com<br />
        phone number: 09178459034
    </p>
</address>