@{
    ViewData["Title"] = "Welcome to my note app";
}

<head>
    <link rel="stylesheet" href="~/css/home-index.css" />
</head>
<section class="welcome-title">

    <h1>@ViewData["Title"]</h1>

    <p>
        @ViewBag.Message
    </p>
</section>
