
.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box {
    padding: 10px;
    width: 300px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.search-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

    .search-btn:hover {
        background: #0056b3;
    }

#create {
    padding: 0.5rem 1rem;
    background: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    white-space: nowrap;
}

    #create:hover {
        background: #218838;
    }


.table {
    display: block;
    justify-content: space-between;
    align-items: center;
    table-layout: fixed;
    border-collapse: collapse;
}

th, td {
    width: 100%;
    padding: 8px;
    vertical-align: middle;
}