@model NoteViewModel
@{
    ViewData["Title"] = "Note";
}

<div class="search-container">
    <form asp-controller="Note" asp-action="Index" method="get">
        <label>
            Title:
            <input name="search" type="text" asp-for="SearchString"
                   class="search-box"
                   placeholder="Search&#x2026;"
                   autocomplete="off"
                   maxlength="240"
                   aria-label="Search" />
        </label>
        <input class="search-btn" type="submit" value="Search">
    </form>
    <a id="create" asp-action="Create">Create</a>
</div>

<hr />
<table>
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var note in Model.Notes!)
        {
            <tr class="tbl-row">
                <td class="tbl-title-column">
                    @note.Title
                </td>
                <td class="tbl-actions-column">
                    <a asp-controller"Note" asp-action="Details" asp-route-id="@note.Id">Details</a>
                    <a asp-controller"Note" asp-action="Edit" asp-route-id="@note.Id">Edit</a>
                    <a asp-controller"Note" asp-action="Delete" asp-route-id="@note.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>
